#news-slider {
    background-color: #282c34;
    // min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    padding: 100px 0px;

    $mt1: -368px;
    $mt2: -4150px;

    .iframe-container {
        width: 100%;
        height: 600px;
        // overflow: auto;
        overflow: hidden;
        iframe {
            margin-top: $mt1;
            margin-top: $mt2;
            animation: slide infinite 30s ;
            animation-timing-function: linear;
        }
    }
    @keyframes slide {
        0% {
            margin-top: $mt1;
        }
        5% {
            margin-top: $mt1;
        }
        95% {
            margin-top: $mt2;
        }
        100% {
            margin-top: $mt2;
        }
    }
}
